<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @client.balance %>
</p>

<p>
  <strong>Type client:</strong>
  <%= @client.type_client_id %>
</p>
<div class="">
  <h2>Resume to sales </h2>

<% @client.sales.each do |sale| %>
<p>
  id: <%= sale.id %>
</p>
<p>
  total: <%=sale.total %>
</p>
<td><%= link_to 'Show', sale %></td>
<% end %>
</div>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
