<p id="notice"><%= notice %></p>

<h1>Listing Type Clients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_clients.each do |type_client| %>
      <tr>
        <td><%= type_client.name %></td>
        <td><%= link_to 'Show', type_client %></td>
        <td><%= link_to 'Edit', edit_type_client_path(type_client) %></td>
        <td><%= link_to 'Destroy', type_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type client', new_type_client_path %>
